<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>jah</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
      function navigation() {
        const hamburger = document.querySelector(".hamburger");
        const nav = document.querySelector(".nav");

        hamburger.addEventListener("click", () => {
          nav.classList.toggle("active");
        });
      }
      window.addEventListener("load", navigation);
    </script>
  </head>

  <body class="body">
    <header class="header">
      <div class="logo"></div>
      <span class="hamburger">&#9776;</span>
    </header>
    <nav class="nav">
      <ul>
        <li class="title">My stuff</li>
        <li><a href="fountain.html">Fountain of truth</a></li>
        <li><a href="ephemerides.html">Ephemerides</a></li>
      </ul>
    </nav>
    <main class="main">{% block content %}{% endblock %}</main>
    <footer class="footer">
      <span>ndelucca@home</span>
    </footer>
  </body>
</html>
