{{> partials/top_boilerplate}}
  <h1>Today, a long time ago...</h1>
  <div id="todays-events"></div>
  <template id="event-template">
    <article class="card">
      <h3 class="title"></h3>
      <p class="content"></p>
    </article>
  </template>
{{> partials/bottom_boilerplate}}
