{% extends "src/templates/base.j2" %}
{% block title %}
  {{ titled }}
{% endblock title %}
{% block content %}
  <h1>This is a Markdown test...</h1>
  <div id="md-content"></div>
{% endblock content %}
