<header class="header">
  <a href="/" class="logo"></a>
  <span class="hamburger">☰</span>
</header>
<nav class="nav">
  <ul>
    <li class="title">Code</li>
    <li>
      <a href="fountain.html">Fountain of truth</a>
    </li>
    <li>
      <a href="ephemerides.html">Ephemerides</a>
    </li>
    <li>
      <a href="workout.html">Workout</a>
    </li>
    {{#if mdLinks}}
      <li class="title">Notes</li>
      {{#each mdLinks}}
        <li>
          <a href="{{link}}.html">{{link}}</a>
        </li>
      {{/each}}
    {{/if}}
  </ul>
</nav>
