#todays-events {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  grid-auto-flow: row;
}

.card {
  background-color: #403d3a;
  padding: 4px;
  border-radius: 4px;
}

@media (min-width: 768px) {
  #todays-events {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (min-width: 1024px) {
  #todays-events {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
