$main-font: "JetBrains Mono", monospace;

$primary-color: #ff851b;
$secondary-color: rgb(18, 22, 29);
$main-backround-color: rgb(13, 17, 23);

$primary-font-color: #bbbbbb;
$secondary-font-color: #838383;

$base-font-size: 16px;
$heading-font-size: 36px;

$nav-offset: 86px;
$nav-width: 300px;
$nav-primary-color: $primary-color;
$nav-background-color: $secondary-color;
$nav-font-color: $secondary-font-color;
